{% extends 'base.html.twig' %}

{% block body %}

	<section class=" d-flex justify-center">
		<section class="h-100 mt-5">
			{% for image in page.images %}
				<h2>Image de la Page</h2>
				<img src="{{ asset('img/' ~ image.path) }}" style=" max-height: 300px; margin: 5px;" alt="{{ image.title }}">
				
			{% endfor %}

			{% for posts in page.post %}

				<h2 class="text-center">Titre du Post :
					{{ posts.title }}</h2>
				<p class="text-center w-50">{{ posts.description|raw }}</p>

					{% if posts.images|length > 0 %}
						<div>
							<h3 class="text-center">Images associées à la page</h3>
							<div class="d-flex flex-row">
								{% for image in posts.images  %}
										<img src="{{ asset('img/' ~ image.path) }}" style=" max-height: 300px; margin: 5px;" alt="{{ image.title }}">
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
				<br>

				{% if posts.videoFile|length > 0 %}
					<div class="mb-5 text-center flex-column justify-content-center d-flex align-items-center">
						<h3>Videos Du post</h3>
						{% for video in posts.videoFile  %}
							<iframe src="{{ video.url }}" frameborder="0" width="640" height="360"></iframe>
						{% endfor %}

					</div>
				{% endif %}

			{% endfor %}

		</section>
	</section>
{% endblock %}

