{% extends 'base.html.twig' %}

{% block title %}MeltingPhot !
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('Scss/style.css') }}">

{% endblock %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="d-flex justy-content-center w-100" id="">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
				<li>
					<img class="logo me-2" src="{{ asset('img/logo.png')}}" width alt="">
				</li>
				<li class="nav-item me-2 meltingphot">
					<a class="nav-link active" aria-current="page" href="/fr">MELTINGPHOT</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="/actions">ACTIONS</a>
				</li>
				{# <li class="nav-item dropdown me-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									POUR QUI ?
								</a>
							</li> #}
				<li class="nav-item me-2">
					<a class="nav-link" href="#">PARTENAIRES</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="#">NOUS SOUTENIR</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="#">CONTACT</a>
				</li>

				{# <form class="d-flex nav-items me-2 form" role="search">
					<input class="form-control me-2 search" type="search" placeholder="Ma recherche..." aria-label="Search">
					<button class="btn btn-outline-success search-btn" type="submit">Rechercher</button>
				</form>

				<li class="nav-item ">
					<a id="language-link" class="p-2" href="{{ path('app_home_page_e_n') }}">
						<img class="flag" src="{{ asset('img/eng.png') }}">
					</a>
				</li> #}

				{# <li class="nav-item ">
					<a id="language-link" class="p-2" href="{{ path('app_home_page') }}">
						<img id="flag" src="{{ asset('img/drapeau.png') }}">
					</a>
				</li> #}
			</ul>
		</div>
	</nav>

	<section class="main">
		<section class="know-more">

		<div class="know-more-box_btn" style="margin-left: 44%;width: 200px;height: 318px;">
			<a href="https://www.youtube.com/@meltingphot" target="_blank" class="btn btn-danger know-more_btn" style="/*! align-content: ; */margin-top: 115%;">En (Sa) voir +</a>
		</div>
		
	
		</section>
		{# page A preparer #}
			{# <div class="know-more_box d-flex flex-column align-self-center align-items-end">
				<div class="d-flex flex-column mb-5 know-more-content align-items-end">
					<h3 class="ms-3 ">ACTIONS DE
					</h2>
					<h1 class="color1">VALORISATION</h1>
					<p class="mb-0 sign">&</p>
					<h2 class="color1 fs-1">D'EDUCATION</h2>
					<h3 class="text-center h3 ">
						PAR L'IMAGE</h2>
					<p class="know-more-content_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus cumque natus.</p>
					<div class="know-more-box_btn">
						<a href="#" class="btn btn-danger know-more_btn align-self-center">En savoir plus</a>
					</div>
				</div>
			</div> #}
		{# <h1>{% trans %}Bienvenue sur mon site{% endtrans %}</h1> #}
	</section>
	{# <section class="banniere">
		<iframe class="video-background" width="100%" height="315" src="https://www.youtube.com/embed/ryBswgXcUGg?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<div class="overlay"></div>
		
	</section> #}



	<section id="parent-article" class="d-flex flex-column parent-article">
		{# 1er article #}
		<article class="d-flex article">
			<img id="forms-svg" class="article-img1" src="{{asset('img/Image_Vignette_Page accueil meltingphot_je Filme mon futur métier.png')}}" alt="">
			<div class="">
				<img id="forms-svg2" class="article-img2" src="{{asset('img/Rani_carre.png')}}" alt="">
			</div>
			<div class="d-flex flex-column justify-content-center article-box">
				<div class='article-title'>
					<span class="numbers">01</span>
					<h3 class="color1">JE FILME MON FUTUR METIER</h3>
				</div>
				<div>
					<p class="block-article_description">HÉBÉMAG : Découvrir son futur métier en allant à la rencontre des professionnels telle une vraie équipe de journalistes en tournage. Rédiger un magazine sur la thématique du métier envisagé.</p>
				</div>
				{# <div class="bloc1_description2">
					<p class=" block-article_description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore nesciunt magnam eveniet accusantium placeat blanditiis et iusto. Tempore, id distinctio, dolorem similique sunt aspernatur, quod maiores incidunt fugiat quidem cupiditate voluptatibus dignissimos voluptatem expedita.</p>
				</div> #}
			</div>
		</article>
		{# <p class=" p-description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore nesciunt magnam eveniet accusantium placeat blanditiis et iusto. Tempore, id distinctio, dolorem similique sunt aspernatur, quod maiores incidunt fugiat quidem cupiditate voluptatibus dignissimos voluptatem expedita.</p> #}
		

		{# 2ème article  #}
		<article class="d-flex flex-row-reverse mt-4 article2">
			<div class="d-flex flex-row-reverse bloc-img"style="margin-top: -25px;">
				<img id="g" class="float-end article2-img" src="{{asset('img/ODONYMES _Image_Vignette_Page accueil meltingphot_je Filme mon futur métier.png')}}" alt="">
				<img class="article2-img2" src="{{asset('img/rond.png')}}" alt="">
			</div>
			<div class="article2-main">
				<div class="article2-title d-flex flex-column align-items-end">
					<span class="article2-title-chiffre">02</span>
					<h3 class="article2-title_nom">ODONYMES</h2>
				</div>

				<div class="d-flex flex-column article2-box_description">
					<p class="article2_description"> En septembre 2023, dans le cadre des journées du patrimoine, les habitants des prés Saint Jean auront l’honneur de vous faire découvrir l’histoire de leur quartier comme vous ne l’auriez jamais imaginée.</p>

					{# <p class="article2_description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore nesciunt magnam eveniet accusantium placeat blanditiis et iusto. Tempore, id distinctio, dolorem similique sunt aspernatur, quod maiores incidunt fugiat quidem cupiditate voluptatibus dignissimos voluptatem expedita.</p> #}
				</div>
			</div>

		</article>

	{# 3ème article  #}
			<article class="d-flex article">
			<img id="forms-svg" class="article-img1" src="{{asset('img/Je filme mon futur métier Meltingphot_Image_Vignette_Page accueil meltingphot_je Filme mon futur métier.png')}}" alt="">
			<div class="">
				<img id="forms-svg2" class="article-img2" src="{{asset('img/Rani_carre.png')}}" alt="">
			</div>
			<div class="d-flex flex-column justify-content-center article-box">
				<div class='article-title'>
					<span class="numbers">03</span>
					<h3 class="color1">Projets Multiculutrels</h3>
				</div>
				<div>
					<p class="block-article_description"> Des projets culturels d’envergure ayant pour finalité une production audiovisuelle complexe : clip vidéo, court-métrage, film d’animation, exposition interactive, magazine, … et permettant l’apprentissage de disciplines multiples (vidéo, photo, lightpainting, vidéopainting, écriture, danse, graff, stopmotion, montage, chant, musique, prise de son, …)</p>
				</div>
				<div class="bloc1_description2">
					{# <p class=" block-article_description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore nesciunt magnam eveniet accusantium placeat blanditiis et iusto. Tempore, id distinctio, dolorem similique sunt aspernatur, quod maiores incidunt fugiat quidem cupiditate voluptatibus dignissimos voluptatem expedita.</p> #}
				</div>
			</div>
		</article>
		{# <p class=" p-description2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore nesciunt magnam eveniet accusantium placeat blanditiis et iusto. Tempore, id distinctio, dolorem similique sunt aspernatur, quod maiores incidunt fugiat quidem cupiditate voluptatibus dignissimos voluptatem expedita.</p> #}

	</section>

	
{# Carrousel  5 videos #}


<div class=" w-100 h-400 bg-white bloc-carrousel">
  <div class="row d-flex justify-content-center">
    <div class="col-2 columns1">
    </div>
    <div class="col-2 columns2">
    </div>
    <div class="col-2 columns3">
    </div>
    <div class="col-2 columns4">
    </div>
    <div class="col-2 columns5">
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
	<section class="p-4 border-top">
		<div
			class="text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3 d-flex">
				<div class="d-flex justify-content-center">
					<!-- Links -->
					<img src="{{ asset('img/logo.png')}}" class="fw-bold mb-4"></img>
			</div>
			<!-- Grid column -->
			<div class="d-flex justify-content-center ">
				<p class="text-contact">MELTINGPHOT est un acteur important sur le territoire en mennant des projets d'éducations par l'image auprès des associations, collectivités et entreprises.</p>
			</div>
			<div class="d-flex justify-content-center mb-3">
				<a href="https://www.facebook.com/MeltingPhot/?locale=fr_FR" class="me-4 text-reset">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://twitter.com/melting_phot?lang=fr" class="me-4 text-reset">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="https://www.instagram.com/meltingphot/?hl=fr" class="me-4 text-reset">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/company/meltingphot" class="me-4 text-reset">
					<i class="fab fa-linkedin"></i>
				</a>
				{# <a href="" class="me-4 text-reset">
					<i class="fab fa-github"></i>
				</a> #}
			</div>
			<!-- Grid column -->
			<div
				class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-2">
				<!-- Links -->
				<p>
					<i class="fas fa-home me-3"></i>15 Route de bagnols, 30100 Alès</p>
				<p>
					<i class="fas fa-envelope me-3"></i>info@example.com</p>
				<p>
					<i class="fas fa-phone me-3"></i>06 64 21 93 75</p>

			</div>
			<!-- Grid column -->
		</div>
		<!-- Grid row -->
	</div>
	<div
		class="info-contact2 ">
		<!-- Links -->
		<p class="ms-3">
			<i class="fas fa-home me-2"></i>15 Route de bagnols, 30100 Alès</p>
		<p class="ms-3">
			<i class="fas fa-envelope me-2"></i>info@example.com</p>
		<p class="ms-3">
			<i class="fas fa-phone me-2"></i>06 64 21 93 75</p>
	</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div class="text-center p-4 fw-bold text-white d-flex flex-column align-items-center" style="background-color: #D00A4B;">

	Tous droits réservés © 2023 @MeltingPhot
</a>
<p class="fst-italic fw-light fs-6 text-white copyright-text">En effet, tous les éléments présents sur Internet (textes, images, vidéos, extraits sonores, codes informatiques…)
	sont de facto soumis au droit d’auteur, même si l’accès est libre, gratuit et sans mention particulière.</p>
</div>
<!-- Copyright --></footer><!-- Footer -->{# js #}</body></html>{% endblock %}
