{% extends 'base2.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block javascripts %}

    <script>
    // Récupérez les éléments nécessaires
    const passwordInput = document.getElementById('password');
    const togglePassword = document.getElementById('togglePassword');
    const passwordToggleText = document.getElementById('passwordToggleText');

    // Ajoutez un gestionnaire d'événements "input" pour surveiller les changements dans le champ de mot de passe
    passwordInput.addEventListener('input', function () {
    const hasValue = passwordInput.value.trim() !== '';

    // Mettez à jour la visibilité du bouton "Toggle Password" en fonction de la valeur du champ
    if (hasValue) {
        togglePassword.style.display = 'block';
    } else {
        togglePassword.style.display = 'none';

    }
    });

    // Ajoutez un gestionnaire d'événements pour basculer entre le mode texte et le mode masqué
    togglePassword.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePassword.textContent = 'Masquer le mot de passe';
            } else {
                passwordInput.type = 'password';
                togglePassword.textContent = 'Afficher le mot de passe';
            }
        });
    </script>
{% endblock %}

{% block body %}

<body class="bg-white font-family-karla h-screen">
    

<div class="w-full flex flex-wrap">
    <!-- Section de connexion -->
    <div class="w-full md:w-1/2 flex flex-col">
        <div class="d-flex justify-content-center md:justify-start pt-12 md:pl-12 md:-mb-12">
        	<a href="/">
                <img class="logo me-2" src="{{ asset('img/logo.png')}}" width alt=""></img>
            </a>
        </div>

        <div class="flex flex-col bloc-login justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl"></p>

            <form method="post" id='login-form'action="{{ path('app_login') }}" class="flex flex-col pt-3">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}



                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
				
			

               <div class="form-group d-block">
					<label for="inputEmail" class="text-lg"  required autofocus>Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" autocomplete="email" required autofocus>
                </div>  


                <div class="form-group d-block pt-4">
                    <label for="inputPassword" class="text-lg" >Mot de Passe</label>
			        <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" autocomplete="current-password" required>
                    
                    <div class="d-flex ">
                        <a class="btn" style=" color: white;background: black;margin-top: 0.6rem;" id="togglePassword">Afficher le mot de passe </a>
                    </div>

                </div>
                <style>
                    .input-with-icon {position: relative;}
                    /* Style pour le champ de mot de passe */
                    .password-input {
                        padding-right: 30px; /* Réservez de l'espace pour l'icône d'œil à droite */
                    }
                </style>

            	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')|e('html_attr') }}">
                <a href="{{ path('app_forgot_password_request') }}" value="Réinitialiser le mot de passe" class="bg-gray-300 text-black font-bold text-lg hover:bg-gray-400 p-2 mt-4">Réinitialiser le mot de passe</a>
            
                <input type="submit" value="Se connecter" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
				

                <div class="text-center pt-12 pb-12">
                    <p>Vous n'avez pas de compte ? <a href="/new-account" class="underline font-semibold">S'inscrire ici !</a></p>
                </div>

            </form>
        </div>
    </div>

    <!-- Section d'image -->
    <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="{{ asset('img/Login/screen-register.jpg')}}" alt="" />
    </div>
</div>
</body>


{% endblock %}