{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

		<div class="h-50  d-flex justify-content-center align-items-center">
			
            <div class=" d-flex justify-content-center flex-column">
                <p>
                {{ 'check_email'|trans({}, 'resetpsw') }}
                <br>
			
                {{ 'this_link'|trans({}, 'resetpsw') }}
                    {# {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. #}
                </p>
                <p>{{ 'retry'|trans({}, 'resetpsw') }}
                    <a href="{{ path('app_forgot_password_request') }}">{{ 'tryAgain'|trans({}, 'resetpsw') }}</a>.
                </p>
            </div>

		</div>

	{% endblock %}
