{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	
{% include "component/navbar.html.twig" %}

		<div class="w-100 h-50 d-flex justify-content-center">
			<div class="col-6 align-self-center mb-5">
				<h1 class="">{{ 'Titre1'|trans({}, 'resetpsw') }}</h1>
				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
						{{ 'Description'|trans({}, 'resetpsw') }}

					</small>
				</div>

				<button class="btn btn-primary">{{ 'btn'|trans({}, 'resetpsw') }}</button>
				{{ form_end(requestForm) }}
			</div>
		</div>
{% include "component/footer.html.twig" %}
	{% endblock %}
