{% extends 'base.html.twig' %}

{% block title %}Hello OrangeController!{% endblock %}

{% block stylesheet %}
    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ asset(cssFile) }}">
    {% endfor %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}


      <script src="{{ asset('js/flipbook/main.js') }}"></script>


      {% for jsFile in jsFiles %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}

{% endblock %}

{% block body %}

<style>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: powderblue;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 75%;
    height:75%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}



 @media (min-width: 360px) and (max-width:669px) {

    .paper{
        width:67% !important;
    }
    .flip-btn{
        width:280px;
    }
 }

@media (min-width: 670px)  {
      .paper{
        width:67% !important;
    }
    .book{
        width: 615px;
    }
    .flip-btn{
        margin-top: -350px !important;
        width:100%;
    }
 }

@media (min-width: 930px)  {
    .book{
        width: 870px;
    }
    
 }

 @media (min-width: 1200px)  {
    .book{
        width: 1200px;
    }
    
 }

</style>

<div id="zoom" class="d-flex align-items-center flex column ">
   


        <!-- Book -->
    <div class="book" style="transform: translateX(25%);"> 
           <!-- Paper 1 -->
            <div class="paper p1">
                <div class="front">
                    <div id="f1" class="front-content">
                        <img src="{{asset('img/pages/1.png')}}" alt="">     
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <img src="{{asset('img/pages/2.png')}}" alt="">    
                </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div class="paper p2">
                <div class="front">
                    <div id="f2" class="front-content">    
                    <img src="{{asset('img/pages/3.png')}}" alt="">   
        </div>
                </div>
                <div class="back">
                    <div id="b2" class="back-content">
                        <img src="{{asset('img/pages/4.png')}}" alt="">        
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div class="paper p3">
                <div class="front">
                    <div id="f3" class="front-content">
                    <img src="{{asset('img/pages/5.png')}}" alt="">  
                    </div>
                </div>
                <div class="back">
                    <div id="b3" class="back-content">
                        <img src="{{asset('img/pages/5.png')}}" alt="">  
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: -125px;" class="d-flex justify-content-between flip-btn">
            <button class="prev-btn-flip" style="transform: translateX(45px);">
                    <i class="fas fa-arrow-circle-left"></i>
            </button>

            <button class="next-btn-flip" style="transform: translateX(-30px)";>
                <i class="fas fa-arrow-circle-right" aria-hidden="true" style="width: 55Px;"></i>  
            </button>
        </div>
    </div>
           
 


{% endblock %}
