{% extends 'base.html.twig' %}

{% block title %}Hello OrangeController!{% endblock %}

{% block stylesheet %}
    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ asset(cssFile) }}">
    {% endfor %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>

    <script src="{{ asset('js/flipbook/main.js') }}"></script>

    {% for jsFile in jsFiles %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}

   <script>
        document.addEventListener("DOMContentLoaded", function() {
            var image = document.querySelector(".img");
            var isActive = false;

            image.addEventListener("dblclick", function() {
                if (isActive) {
                    image.classList.remove("active");
                    isActive = false;
                } else {
                    image.classList.add("active");
                    isActive = true;
                }
            });
        });
    </script>
    
      {% for jsFile in jsFiles %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}

{% endblock %}

{% block body %}

<style>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction:column;
    font-family: sans-serif;
    background-color: orange;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 300ms ease-out;}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 75%;
    height:75%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

.fas {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}


 .zoomed-image {
            position: absolute;
            z-index: 9999;
            width: 200%; /* Ajustez la taille du zoom selon vos besoins */
            height: 200%;
            left: -50%;
            top: -50%;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        
        .zoomed-image.active {
            opacity: 1;
        }


 @media (min-width: 360px) and (max-width:669px) {

    .paper{
        width:67% !important;
    }
    .flip-btn{
        width:280px;
    }
 }

@media (min-width: 670px)  {
      .paper{
        width:67% !important;
    }
    .book{
        width: 615px;
         height:0px;
    }
    .flip-btn{
       margin-top: 0px !important;
width: 94%;
max-width: 1300Px;
    }
 }

@media (min-width: 930px)  {
    .book{
        width: 870px;
         height:0px;
    }
    
 }

 @media (min-width: 1200px)  {
    .book{
        width: 1200px;
        height:0px;
    }
    
 }

</style>
{# Navbar #}
<section class="nav-main">
	<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar-hover">
		<div class="d-flex justy-content-center w-100">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
				<li>
					<a href="/">
						<img class="logo me-2" src="{{ asset('img/logo.png')}}" width alt=""></img>
					</a>
				</li>

				<li class="nav-item me-2 meltingphot">
					<a class="nav-link" aria-current="page" href="/">MELTINGPHOT</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="{{ path("app_actions")}}">ACTIONS</a>
				</li>


				<li class="nav-item me-2">
					<a class="nav-link" href="{{path('app_contact')}}">CONTACT</a>
				</li>

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_login')}}">
							<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
						</a>

					</li>
				{% endif %}
				{% if app.user %}
					{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
						<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
					{% endif %}
				{% endif %}

				{% if app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				{% endif %}
				<div class="d-flex align-items-center">
					<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
					<form id="search-form" class="d-none">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Rechercher...">
							<button class="btn btn-primary" type="submit">Rechercher</button>
						</div>
					</form>
				</div>
				{% if app.user %}
					<p class="text-end btn btn-warning mt-3">Bienvenue {{ app.user.username }}!</p>
				{% endif %}

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
					</li>
				{% endif %}
			<ul>
		</div>
	</nav>



	  {# <nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<!-- Icon dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img id="flag-image" src="{{ asset('img/drapeau.png') }}" alt="">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li id="language-item">
								<a class="dropdown-item d-flex" id="fr-flag" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}" onclick="changeLanguage('fr')">
									<img src="{{ asset('img/drapeau.png') }}" alt="" style="margin-right: 1rem;">Français
								</a>
							</li>
							<li>
								<hr class="dropdown-divider"/>
							</li>
							<li>
								<a class="dropdown-item d-flex" id="uk-flag" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}" onclick="changeLanguage('en')">
									<img src="{{ asset('img/unitedkingdom.png') }}" alt="" style="margin-right: 1rem;">English
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav> #}
</section>

<nav class="navbar nav-phone navbar-dark bg-red-500">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<div class="shadow nav-phone collapse navbarToggleExternalContent" data-bs-theme="dark">
		<div class=" p-4">
			<ul class="navbar-nav nav-phone-content me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
				<li class="">
					<a href="/">
						<img class="logo me-2" id="logo-MeltingPhot"src="{{ asset('img/logo.png')}}" width alt=""></img>
					</a>
				</li>

				<li class="nav-item me-2 meltingphot">
					<a class="nav-link" aria-current="page" href="/">MELTINGPHOT</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="{{ path("app_actions")}}">Nos Actions</a>
				</li>


				<li class="nav-item me-2">
					<a class="nav-link" href="{{path('app_contact')}}">Nous Contacter</a>
				</li>

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_login')}}">
							<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
						</a>

					</li>
				{% endif %}
				{% if app.user %}
					{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
						<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
					{% endif %}
				{% endif %}

				{% if app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				{% endif %}
				<div class="d-flex align-items-center">
					<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
					<form id="search-form" class="d-none">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Rechercher...">
							<button class="btn btn-primary" type="submit">Rechercher</button>
						</div>
					</form>
				</div>
				{% if app.user %}
					<p class="text-end btn btn-warning mt-3">Bienvenue,{{ app.user.username }}!</p>
				{% endif %}

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
					</li>
				{% endif %}
			<ul>
		</div>
	</div>


<section class="mon-livre"style="margin-top:23rem">

    <div class="d-flex align-items-center flex column ">
    


            <!-- Book -->
        <div class ="book"style="transform: translateX(25%);"> 
            <!-- Paper 1 -->
                <div class="paper p1">
                    <div class="front">
                        <div id="f1" class="front-content">
                            <img  class="img" src="{{asset('img/pages/1.png')}}" alt="">     
                        </div>
                    </div>
                    <div class="back">
                        <div id="b1" class="back-content">
                            <img class="img" src="{{asset('img/pages/2.png')}}" alt="">    
                    </div>
                    </div>
                </div>
                <!-- Paper 2 -->
                <div class="paper p2">
                    <div class="front">
                        <div id="f2" class="front-content">    
                        <img class="img" src="{{asset('img/pages/3.png')}}" alt="">   
            </div>
                    </div>
                    <div class="back">
                        <div id="b2" class="back-content">
                            <img class="img" src="{{asset('img/pages/4.png')}}" alt="">        
                        </div>
                    </div>
                </div>
                <!-- Paper 3 -->
                <div class="paper p3">
                    <div class="front">
                        <div id="f3" class="front-content">
                        <img class="img" src="{{asset('img/pages/5.png')}}" alt="">  
                        </div>
                    </div>
                    <div class="back">
                        <div id="b3" class="back-content">
                            <img class="img" src="{{asset('img/pages/5.png')}}" alt="">  
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: -125px;" class="d-flex justify-content-between flip-btn">
                <button class="prev-btn-flip" style="transform: translateX(45px);">
                        <i class="fas fa-arrow-circle-left"></i>
                </button>

                <button class="next-btn-flip" style="transform: translateX(-30px)";>
                    <i class="fas fa-arrow-circle-right" aria-hidden="true" style="width: 55Px;"></i>  
                </button>
            </div>
        </div>


</section>

    


{% endblock %}
