{# search_results.html.twig #}
{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}


{% block body %}
	{% include 'component/navbar.html.twig' %}

	<section class="text-center my-24">

		<h1>Résultats de la recherche pour "{{ query }}" :</h1>
		{% if pagination.getTotalItemCount() > 0 %}
			<p class="text-xl">{{ pagination.getTotalItemCount() }}
				résultat(s) trouvé(s) pour cette recherche.</p>
			<ul class="d-flex justify-center">
				{% set videoDisplayed = false %}
				{% for result in pagination %}


					{%     if result.type == "image" %}
						<a href="{{ path("app_page_show", {slug: result.page.slug}) }}">
							<img src="{{ asset('uploads/' ~ result.path) }}" alt="{{ result.title }}" style="width: 150px; height: 150px;"/>
						</a>
					{% elseif result.type == "ebook" %}
					{% elseif result.type == "video" %}
					{% elseif result.type == "page"  %}
						{% else %}
						{# Ceci ne devrais pas arriver mais bon on sais jamais hein #}
					{% endif %}


				{% endfor %}
			</ul>

			<div class="pagination d-flex justify-center w-30 m2">
				{{ knp_pagination_render(pagination) }}
			</div>

		{% else %}
			<p>Aucun résultat trouvé.</p>
		{% endif %}

		<h2>Faire une nouvelle Recherche ?</h2>
		<form id="search-form2" class="d-flex justify-center " action="{{ path('app_search_results') }}" method="GET">
			<div class="input-group w-50 sm-w-80">
				<input type="text" class="form-control" name="q" placeholder="Rechercher...">
				<button class="btn btn-primary" type="submit">Rechercher</button>
			</div>
		</form>
	</section>
	{% include 'component/footer.html.twig' %}

{% endblock %}
