{% extends 'base.html.twig' %}

{% block title %}MeltingPhot !
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		const searchIcon = document.querySelector('#search-icon');
const searchForm = document.querySelector('#search-form');

searchIcon.addEventListener('click', () => {
searchForm.classList.toggle('d-none');
searchIcon.classList.toggle('d-none')
});
	
</script>


{% endblock %}

{% block body %}

<section class="nav-main"style="background-color: #D00A4B;">
	<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar-hover">
		<div class="d-flex justy-content-center w-100">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
				<li class="nav-item me-2 meltingphot">
					<a class="nav-link" aria-current="page" href="/">MELTINGPHOT</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="{{ path("app_actions")}}">ACTIONS</a>
				</li>


				<li class="nav-item me-2">
					<a class="nav-link" href="{{path('app_contact')}}">CONTACT</a>
				</li>

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_login')}}">
							<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
						</a>

					</li>
				{% endif %}
				{% if app.user %}
					{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
						<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
					{% endif %}
				{% endif %}

				{% if app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				{% endif %}
				<div class="d-flex align-items-center">
					<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
					<form id="search-form" class="d-none">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Rechercher...">
							<button class="btn btn-primary" type="submit">Rechercher</button>
						</div>
					</form>
				</div>
				{% if app.user %}
					<p class="text-end btn btn-warning mt-3">Bienvenue {{ app.user.username }}!</p>
				{% endif %}

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_register')}}">S'INSCRIRE</a>
					</li>
				{% endif %}
			
			<div>
				<p style="margin-bottom: 0px">V1</p>
			</div>
		</div>
	</nav>
	  {# <nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<!-- Icon dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img id="flag-image" src="{{ asset('img/drapeau.png') }}" alt="">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li id="language-item">
								<a class="dropdown-item d-flex" id="fr-flag" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}" onclick="changeLanguage('fr')">
									<img src="{{ asset('img/drapeau.png') }}" alt="" style="margin-right: 1rem;">Français
								</a>
							</li>
							<li>
								<hr class="dropdown-divider"/>
							</li>
							<li>
								<a class="dropdown-item d-flex" id="uk-flag" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}" onclick="changeLanguage('en')">
									<img src="{{ asset('img/unitedkingdom.png') }}" alt="" style="margin-right: 1rem;">English
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav> #}
</section>

	<nav class="navbar nav-phone navbar-dark bg-red-500">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<div id="navbarToggleExternalContent" class="shadow nav-phone collapse navbarToggleExternalContent" data-bs-theme="dark">
		<div class=" p-4">
			<ul class="navbar-nav nav-phone-content me-auto mb-2 mt-3 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
				<li class="">
					<a href="/">
						<img class="logo me-2" id="logo-MeltingPhot"src="{{ asset('img/logo.png')}}" width alt=""></img>
					</a>
				</li>

				<li class="nav-item me-2 meltingphot">
					<a class="nav-link" aria-current="page" href="/">MELTINGPHOT</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="{{ path("app_actions")}}">Nos Actions</a>
				</li>


				<li class="nav-item me-2">
					<a class="nav-link" href="{{path('app_contact')}}">Nous Contacter</a>
				</li>

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_login')}}">
							<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
						</a>

					</li>
				{% endif %}
				{% if app.user %}
					{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
						<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
					{% endif %}
				{% endif %}

				{% if app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
				{% endif %}
				<div class="d-flex align-items-center">
					<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
					<form id="search-form" class="d-none">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Rechercher...">
							<button class="btn btn-primary" type="submit">Rechercher</button>
						</div>
					</form>
				</div>
				{% if app.user %}
					<p class="text-end btn btn-warning mt-3">Bienvenue,{{ app.user.username }}!</p>
				{% endif %}

				{% if not app.user %}
					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
					</li>
				{% endif %}
			<ul>
		</div>
	</div>


	<section class="team d-flex flex-column align-items-center" style="margin:1rem">
		<article class="d-flex flex-column align-items-center"style="margin-bottom: 2rem;margin-top:5rem">
			{% set successMessages = app.flashes('success') %}
			{% if successMessages is not empty %}
				<div class="alert alert-success text-center d-flex justify-content-center rounded w-100" style="font-size:larger;" role="alert">
					{{ successMessages[0] }}
				</div>
			{% endif %}
			<h2 class="text-center team-title">
				<span style="font-weight: lighter;">Notre</span>
				Equipe
			</h2>
			<p style="max-width: 61%; text-align: center; margin: 1rem;">  Notre équipe est composée de passionnés de la photographie dévoués à capturer et partager des moments uniques. Chaque membre apporte son talent, sa créativité et son expertise pour créer des images qui reflètent votre personnalité. </p>
		</article>

  		<article class="mt-5 shadow-lg d-flex bg-light" style="width: 100%; max-width: 1195px; height: 529px;">
			<div id="directeur" class="col-3 employee3" style="margin-right: 3rem; margin-left: 3rem; align-self: center;">
				<img id="employeeImage" class="employeeImage directeur" src="{{ asset('img/Contact/Abdeslam.png') }}" style="width: 300px !important;height: 419px;object-fit: cover;margin-top: -2rem;">
				<div class="d-flex flex-column align-items-center">
					<p id="employeeName" class="employeeName">Abdeslam Chaoui</p>
					<p id="employeeJob" class="métier employeeJob">Direction Artistique</p>
					<div id="employeeSocialMedia1" class="d-flex flex-row" style="justify-content: center;">
						<a href="https://www.facebook.com/" target="_blank">
							<i class="fab fa-facebook-f team-social btn"></i>
						</a>
						<i class="fab fa-instagram team-social btn"></i>
					</div>
				</div>
			</div>
			<div style="width: 63%;">
				<div class="mt-5 employeeQuote"></div>
				<div class="mt-4 d-flex justify-content-end">
					<i class="fab fa-facebook-f team-social"></i>
					<i class="fab fa-linkedin team-social"></i>
					<i class="fab fa-youtube team-social"></i>
					<i class="fa-brands fa-twitter team-social"></i>
				</div>

				<div id="employeeCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="d-flex justify-content-center">
								<div id="employee1" class="employee3">
									<img id="employeeImage1" class="width-20 employeeImage employee1" src="{{ asset('img/Contact/employe1.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
									<div class="d-flex flex-column align-items-center">
										<p id="employeeName1" class="employeeName">Sabrina Fiandaca</p>
										<p id="employeeJob1" class="métier employeeJob">Directrice de la Rédaction</p>
										<div id="employeeSocialMedia1" class="d-flex flex-row" style="justify-content: center;">
											<a href="https://www.facebook.com/" target="_blank">
												<i class="fab fa-facebook-f team-social btn"></i>
											</a>
											<i class="fab fa-instagram team-social btn"></i>
										</div>
									</div>
									<div class="mt-5 d-none employeeQuote1"></div>
								</div>
								<div class="d-flex justify-content-center">
									<div id="employee2" class="ms-3 employee3">
										<img id="employeeImage2" class="width-20 employeeImage employee2" src="{{ asset('img/Contact/employe2.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
										<div class="d-flex flex-column align-items-center">
											<p id="employeeName2" class="employeeName">Yann Riché</p>
											<p id="employeeJob2" class="métier employeeJob">Coaching Photo</p>
											<div id="employeeSocialMedia2" class="d-flex flex-row" style="justify-content: center;">
												<a href="https://www.facebook.com/" target="_blank">
													<i class="fab fa-facebook-f team-social btn"></i>
												</a>
												<i class="fab fa-instagram team-social btn"></i>
											</div>
										</div>
										<div class="mt-5 d-none employeeQuote2"></div>
									</div>
								</div>
								<div class="d-flex justify-content-center">
									<div id="employee3" class="ms-3 employee3">
										<img id="employeeImage3" class="width-20 employeeImage" src="{{ asset('img/Contact/employe3.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
										<div class="d-flex flex-column align-items-center">
											<p id="employeeName3" class="employeeName">Yamina & Brahim</p>
											<p id="employeeJob3" class="métier employeeJob">Photographe Pro</p>
											<div id="employeeSocialMedia3" class="d-flex flex-row" style="justify-content: center;">
												<a href="https://www.facebook.com/" target="_blank">
													<i class="fab fa-facebook-f team-social btn"></i>
												</a>
												<i class="fab fa-instagram team-social btn"></i>
											</div>
										</div>
										<div class="mt-5 d-none employeeQuote3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#employeeCarousel" data-bs-slide="prev" style="height: 30px; top: 142px; width: 50px;">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#employeeCarousel" data-bs-slide="next" style="width: 50px; height: 30px; top: 142px;">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
  		</article>
		
	</section>



	<section class="team-mobile">
		<article style="align-items: center; display: flex; flex-direction: column; margin-bottom: 2rem;margin-top:5rem">
			{% set successMessages = app.flashes('success') %}
			{% if successMessages is not empty %}
				<div class="alert alert-success text-center d-flex justify-content-center rounded" style="margin: 0 auto;font-size:larger;" role="alert">
					{{ successMessages[0] }}
				</div>
			{% endif %}
			<h2 class="text-center team-title">
			<span style="font-weight: lighter;">Notre</span>
			Equipe
			</h2>
			<p style="max-width: 550px; text-align: center; margin: 1rem;"> Notre équipe est composée de passionnés de la photographie dévoués à capturer et partager des moments uniques. Chaque membre apporte son talent, sa créativité et son expertise pour créer des images qui reflètent votre personnalité.</p>
		</article>

		<section class="">
			<article class="mt-5 shadow-lg bg-light p-3">
				<div id="directeur" class="d-flex flex-column align-items-center">
				<img src="{{ asset('img/Contact/Abdeslam.png') }}" style="width:250px;" alt="Abdeslam Chaoui">
				<p id="employeeName" class="text-center mt-3 fw-bold">Abdeslam Chaoui</p>
					<div class="text-center">
						<p id="employeeJob">Direction Artistique</p>
						<div id="social-media" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
								<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
					</div>
				<div id="employeeQuote" class="mt-5"></div>
				</div>
			</article>



			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe1.jpeg') }}" style="width:250px;" alt="Sabrina Fiandaca">
					<div class="text-center">
						<p id="employeeName1" class="text-center mt-3 fw-bold">Sabrina Fiandaca</p>
						<div class="text-center">
						<p id="employeeJob1">Directrice de la Rédaction</p>
						<div id="social-media1" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
							<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
					</div>
					<p id="employeeQuote1" class="d-none">Citation Employée 1</p>
				</div>
			</article>

			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe2.jpeg') }}"style="width:250px;" alt="Yann Riché">
					<div class="text-center">
						<p id="employeeName2" class="text-center mt-3 fw-bold">Yann Riché</p>
						<div class="text-center">
							<p id="employeeJob2">Coaching Photo</p>
							<div id="employeeQuote2" class="mt-5 d-none"></div>
							<div id="social-media2" class="mt-3">
								<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
								<i class="fab fa-facebook-f team-social btn"></i>
								</a>
								<i class="fab fa-instagram team-social btn"></i>
							</div>
						</div>
						<p id="employeeQuote2" class="d-none">Citation Employée 2</p>
					</div>
				</div>
			</article>


			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe3.jpeg') }}" style="width:250px;" alt="Yamina & Brahim">
					<div class="text-center">
						<p id="employeeName3" class="text-center mt-3 fw-bold">Yamina & Brahim</p>
						<div class="text-center">
						<p id="employeeJob3">Photographe Pro</p>
						<div id="social-media3" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
							<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
						</div>
						<p id="employeeQuote3" class="d-none">Citation Employée 3</p>
					</div>
				</div>
			</article>
		</section>
	</section>




	<section>
		<div class="bloc-contact">
			<h1 class="fw-bolder text-center">Pour nous contacter c'est simple !</h1>
			<p class="text-center">Vous avez un projet d'éducation ou de valorisation par l'image et souhaitez en discutez, vous êtes au bon endroit !</p>
		</div>

		<div class="d-flex justify-content-center bloc-adress">
			<div class="bloc-adress_place">
				<h4 class="fw-bold text-decoration-underline">Adresse </h4>
				<p>15 route de Bagnols, 30100 Alès</p>
			</div>
			<div class="bloc-adress_phone">
				<h4 class="fw-bold text-decoration-underline">Numero
				</h4>
				<p>06 64 21 93 75
				</p>
			</div>

			<div class="bloc-adress_social">
				<h4 class="fw-bold text-decoration-underline">Social
				</h4>
				<div class="d-flex flex-row mt-2">
					<a href="https://www.facebook.com/MeltingPhot/?locale=fr_FR" class="me-4 text-reset">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
					<a href="https://twitter.com/melting_phot?lang=fr" class="me-4 text-reset">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
					<a href="https://www.instagram.com/meltingphot/?hl=fr" class="me-4 text-reset">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
					<a href="https://www.linkedin.com/company/meltingphot" class="me-4 text-reset">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>
				</div>
			</div>
		</div>


		{{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
		<div class="contact-NES">
			{{ form_row(form.Nom, {'attr': {'class': 'shadow contact-input','placeholder': 'Nom'}}) }}
			<label for=""></label>

			{{ form_row(form.email, {'attr': {'class': 'shadow contact-input', 'placeholder': 'Email'}}) }}
			<label for=""></label>

			{{ form_row(form.Subject, {'attr': {'class': 'shadow contact-input','placeholder': 'Sujets'}}) }}
			<label for=""></label>
		</div>
		<div class="content-message">
			{{ form_row(form.Message, {'attr': {'class': 'shadow message contact-input', 'placeholder': 'Message'}}) }}
		</div>

		<div class="d-flex justify-content-center mt-3">
			{{form_row(form.submit,{'attr': {'class': 'mt-5 btn send-btn btn btn-outline-dark'
				}})}}
		</div>

		{{ form_label(form.piege, null, {'label_attr': {'style': 'display:none;'}}) }}

		{{ form_end(form) }}

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2863.7722805166513!2d4.101080076874332!3d44.12931897108358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b4425109d4d983%3A0x365da74f82b38f13!2s15%20Rte%20de%20Bagnols%2C%2030100%20Al%C3%A8s!5e0!3m2!1sfr!2sfr!4v1681739820341!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	</section>

	<!-- Footer -->

	<footer class="text-center text-lg-start bg-light text-muted">
		<section class="p-4 border-top">
			<div
				class="text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3 d-flex">
					<div
						class="d-flex justify-content-center">
						<!-- Links -->
						<img src="{{ asset('img/logo.png')}}" class="fw-bold mb-4"></img>
				</div>
				<!-- Grid column -->
				<div class="d-flex justify-content-center ">
					<p class="text-contact">MELTINGPHOT est un acteur important sur le territoire en mennant des projets d'éducations par l'image auprès des associations, collectivités et entreprises.</p>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<a href="https://www.facebook.com/MeltingPhot/?locale=fr_FR" class="me-4 text-reset">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://twitter.com/melting_phot?lang=fr" class="me-4 text-reset">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.instagram.com/meltingphot/?hl=fr" class="me-4 text-reset">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.linkedin.com/company/meltingphot" class="me-4 text-reset">
						<i class="fab fa-linkedin"></i>
					</a>
					{# <a href="" class="me-4 text-reset">
													<i class="fab fa-github"></i>
												</a> #}
				</div>
				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-2">
					<!-- Links -->
					<p>
						<i class="fas fa-home me-3"></i>15 Route de bagnols, 30100 Alès</p>
					<p>
						<i class="fas fa-envelope me-3"></i>info@example.com</p>
					<p>
						<i class="fas fa-phone me-3"></i>06 64 21 93 75</p>

				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
		<div
			class="info-contact2 ">
			<!-- Links -->
			<p class="ms-3">
				<i class="fas fa-home me-2"></i>15 Route de bagnols, 30100 Alès</p>
			<p class="ms-3">
				<i class="fas fa-envelope me-2"></i>info@example.com</p>
			<p class="ms-3">
				<i class="fas fa-phone me-2"></i>06 64 21 93 75</p>
		</div>
	</section><!-- Section: Links  -->
	<!-- Copyright -->
	<div class="text-center p-4 fw-bold text-white d-flex flex-column align-items-center" style="background-color: #D00A4B;">

		Tous droits réservés © 2023 @MeltingPhot

		<p class="fst-italic fw-light fs-6 text-white copyright-text">En effet, tous les éléments présents sur Internet
					 (textes, images, vidéos, extraits sonores, codes informatiques…)
					sont de facto soumis au droit d’auteur, même si l’accès est libre,
				 gratuit et sans mention particulière.</p>
	</div>
	<!-- Copyright -->

</footer><!-- Footer -->
{# js #}

<script>
  // Récupérer les éléments des employés
  const employee1 = document.getElementById('employee1');
  const employee2 = document.getElementById('employee2');
  const employee3 = document.getElementById('employee3');

  // Récupérer les éléments des citations
  const employeeQuote1 = document.getElementById('employeeQuote1');
  const employeeQuote2 = document.getElementById('employeeQuote2');
  const employeeQuote3 = document.getElementById('employeeQuote3');

  // Fonction pour afficher ou masquer les citations en fonction de l'employé cliqué
  function toggleQuotes(employee, employeeQuote) {
    employee.addEventListener('click', () => {
      if (employeeQuote.style.display === 'none') {
        employeeQuote.style.display = 'block';
      } else {
        employeeQuote.style.display = 'none';
      }
    });
  }

  // Appeler la fonction pour chaque employé
  toggleQuotes(employee1, employeeQuote1);
  toggleQuotes(employee2, employeeQuote2);
  toggleQuotes(employee3, employeeQuote3);

  // Fonction pour changer les informations
  function changerInformations(employeId) {
    // Récupérer les éléments du directeur
    const directeurImage = document.getElementById('employeeImage');
    const directeurNom = document.getElementById('employeeName');
    const directeurJob = document.getElementById('employeeJob');
    const directeurQuote = document.querySelector('.employeeQuote');
    const directeurSocialMedia = document.getElementById('employeeSocialMedia1');

    // Récupérer les éléments de l'employé cliqué
    const employeImage = document.getElementById('employeeImage' + employeId);
    const employeNom = document.getElementById('employeeName' + employeId);
    const employeJob = document.getElementById('employeeJob' + employeId);
    const employeQuote = document.querySelector('.employeeQuote' + employeId);
    const employeSocialMedia = document.getElementById('employeeSocialMedia' + employeId);

    // Sauvegarder les informations du directeur
    const directeurImageSrc = directeurImage.src;
    const directeurNomText = directeurNom.textContent;
    const directeurJobText = directeurJob.textContent;
    const directeurQuoteText = directeurQuote.innerHTML;
    const directeurSocialMediaHTML = directeurSocialMedia.innerHTML;

    // Changer les informations du directeur avec celles de l'employé
    directeurImage.src = employeImage.src;
    directeurNom.textContent = employeNom.textContent;
    directeurJob.textContent = employeJob.textContent;
    directeurQuote.innerHTML = employeQuote.innerHTML;
    directeurSocialMedia.innerHTML = employeSocialMedia.innerHTML;

    // Changer les informations de l'employé avec celles du directeur
    employeImage.src = directeurImageSrc;
    employeNom.textContent = directeurNomText;
    employeJob.textContent = directeurJobText;
    employeQuote.innerHTML = directeurQuoteText;
    employeSocialMedia.innerHTML = directeurSocialMediaHTML;
  }

  // Ajouter des écouteurs d'événements sur les employés
  var employe1 = document.getElementById('employee1');
  employe1.addEventListener('click', function() {
    changerInformations('1');
  });

  var employe2 = document.getElementById('employee2');
  employe2.addEventListener('click', function() {
    changerInformations('2');
  });

  var employe3 = document.getElementById('employee3');
  employe3.addEventListener('click', function() {
    changerInformations('3');
  });

  // Assigner les citations aux employés
  const citationDirecteur = "La photographie est bien plus qu'une simple image figée, c'est une fenêtre ouverte sur le monde..";
  const citationEmploye1 = "La photographie est une plume qui donne vie à nos histoires, capturant l'essence même de chaque instant.";
  const citationEmploye2 = "La photographie est notre langage, notre moyen de capturer l'instant présent et de le transformer en un souvenir intemporel";
  const citationEmploye3 = "La photographie est bien plus qu'une simple capture d'image, c'est un langage artistique à part entière.";

  document.querySelector('.employeeQuote').innerText = citationDirecteur;
  document.querySelector('.employeeQuote1').innerText = citationEmploye1;
  document.querySelector('.employeeQuote2').innerText = citationEmploye2;
  document.querySelector('.employeeQuote3').innerText = citationEmploye3;
</script>
</body></html>


{% endblock %}
