{% extends 'base.html.twig' %}

{% block title %}MeltingPhot !
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Contact/equipe.js') }}"></script>

{% endblock %}

{% block body %}



	{% for message in app.flashes('success') %}
	<div class="alert alert-success d-flex mt-5">
		{{ message }}
	</div>
{% endfor %}
	<section class="team d-flex flex-column align-items-center" style="margin:1rem">
		<article class="d-flex flex-column align-items-center"style="margin-bottom: 2rem;margin-top:5rem">
			<h2 class="text-center team-title">
				<span style="font-weight: lighter;">Notre</span>
				Equipe
			</h2>
			<p style="max-width: 61%; text-align: center; margin: 1rem;">  Notre équipe est composée de passionnés de la photographie dévoués à capturer et partager des moments uniques. Chaque membre apporte son talent, sa créativité et son expertise pour créer des images qui reflètent votre personnalité. </p>
		</article>

  		<article class="mt-5 shadow-lg d-flex bg-light" style="width: 100%; max-width: 1195px; height: 529px;">
			<div id="directeur" class="col-3 employee3" style="margin-right: 3rem; margin-left: 3rem; align-self: center;">
				<img id="employeeImage" class="employeeImage directeur" src="{{ asset('img/Contact/Abdeslam.png') }}" style="width: 300px !important;height: 419px;object-fit: cover;margin-top: -2rem;">
				<div class="d-flex flex-column align-items-center">
					<p id="employeeName" class="employeeName">Abdeslam Chaoui</p>
					<p id="employeeJob" class="métier employeeJob">Direction Artistique</p>
					<div id="employeeSocialMedia1" class="d-flex flex-row" style="justify-content: center;">
						<a href="https://www.facebook.com/" target="_blank">
							<i class="fab fa-facebook-f team-social btn"></i>
						</a>
						<i class="fab fa-instagram team-social btn"></i>
					</div>
				</div>
			</div>
			<div style="width: 63%;">
				<div class="mt-5 employeeQuote"></div>
				<div class="mt-4 d-flex justify-content-end">
					<i class="fab fa-facebook-f team-social"></i>
					<i class="fab fa-linkedin team-social"></i>
					<i class="fab fa-youtube team-social"></i>
					<i class="fa-brands fa-twitter team-social"></i>
				</div>

				<div id="employeeCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="d-flex justify-content-center">
								<div id="employee1" class="employee3">
									<img id="employeeImage1" class="width-20 employeeImage employee1" src="{{ asset('img/Contact/employe1.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
									<div class="d-flex flex-column align-items-center">
										<p id="employeeName1" class="employeeName">Sabrina Fiandaca</p>
										<p id="employeeJob1" class="métier employeeJob">Directrice de la Rédaction</p>
										<div id="employeeSocialMedia1" class="d-flex flex-row" style="justify-content: center;">
											<a href="https://www.facebook.com/" target="_blank">
												<i class="fab fa-facebook-f team-social btn"></i>
											</a>
											<i class="fab fa-instagram team-social btn"></i>
										</div>
									</div>
									<div class="mt-5 d-none employeeQuote1"></div>
								</div>
								<div class="d-flex justify-content-center">
									<div id="employee2" class="ms-3 employee3">
										<img id="employeeImage2" class="width-20 employeeImage employee2" src="{{ asset('img/Contact/employe2.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
										<div class="d-flex flex-column align-items-center">
											<p id="employeeName2" class="employeeName">Yann Riché</p>
											<p id="employeeJob2" class="métier employeeJob">Coaching Photo</p>
											<div id="employeeSocialMedia2" class="d-flex flex-row" style="justify-content: center;">
												<a href="https://www.facebook.com/" target="_blank">
													<i class="fab fa-facebook-f team-social btn"></i>
												</a>
												<i class="fab fa-instagram team-social btn"></i>
											</div>
										</div>
										<div class="mt-5 d-none employeeQuote2"></div>
									</div>
								</div>
								<div class="d-flex justify-content-center">
									<div id="employee3" class="ms-3 employee3">
										<img id="employeeImage3" class="width-20 employeeImage" src="{{ asset('img/Contact/employe3.jpeg') }}" style="max-width: 300px; min-width: 216px; height: 216px;object-fit: cover;">
										<div class="d-flex flex-column align-items-center">
											<p id="employeeName3" class="employeeName">Yamina & Brahim</p>
											<p id="employeeJob3" class="métier employeeJob">Photographe Pro</p>
											<div id="employeeSocialMedia3" class="d-flex flex-row" style="justify-content: center;">
												<a href="https://www.facebook.com/" target="_blank">
													<i class="fab fa-facebook-f team-social btn"></i>
												</a>
												<i class="fab fa-instagram team-social btn"></i>
											</div>
										</div>
										<div class="mt-5 d-none employeeQuote3"></div>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>

				  <button class="carousel-control-prev" type="button" data-bs-target="#employeeCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#employeeCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
				</div>
			</div>
  		</article>
		
	</section>



	<section class="team-mobile ">	
		<article style="align-items: center; display: flex; flex-direction: column; margin-bottom: 2rem;margin-top:5rem">
			<h2 class="text-center team-title">
			<span style="font-weight: lighter;">Notre</span>
			Equipe
			</h2>
			<p style="max-width: 550px; text-align: center; margin: 1rem;"> Notre équipe est composée de passionnés de la photographie dévoués à capturer et partager des moments uniques. Chaque membre apporte son talent, sa créativité et son expertise pour créer des images qui reflètent votre personnalité.</p>
		</article>
		

		<section class="">
			<article class="mt-5 shadow-lg bg-light p-3">
				<div id="directeur" class="d-flex flex-column align-items-center">
				<img src="{{ asset('img/Contact/Abdeslam.png') }}" style="width:250px;" alt="Abdeslam Chaoui">
				<p id="employeeName" class="text-center mt-3 fw-bold">Abdeslam Chaoui</p>
					<div class="text-center">
						<p id="employeeJob">Direction Artistique</p>
						<div id="social-media" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
								<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
					</div>
				<div id="employeeQuote" class="mt-5"></div>
				</div>
			</article>



			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe1.jpeg') }}" style="width:250px;" alt="Sabrina Fiandaca">
					<div class="text-center">
						<p id="employeeName1" class="text-center mt-3 fw-bold">Sabrina Fiandaca</p>
						<div class="text-center">
						<p id="employeeJob1">Directrice de la Rédaction</p>
						<div id="social-media1" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
							<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
					</div>
					<p id="employeeQuote1" class="d-none">Citation Employée 1</p>
				</div>
			</article>

			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe2.jpeg') }}"style="width:250px;" alt="Yann Riché">
					<div class="text-center">
						<p id="employeeName2" class="text-center mt-3 fw-bold">Yann Riché</p>
						<div class="text-center">
							<p id="employeeJob2">Coaching Photo</p>
							<div id="employeeQuote2" class="mt-5 d-none"></div>
							<div id="social-media2" class="mt-3">
								<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
								<i class="fab fa-facebook-f team-social btn"></i>
								</a>
								<i class="fab fa-instagram team-social btn"></i>
							</div>
						</div>
						<p id="employeeQuote2" class="d-none">Citation Employée 2</p>
					</div>
				</div>
			</article>


			<article class="mt-5 shadow-lg bg-light p-3">
				<div class="employee-item d-flex justify-content-center flex-column align-items-center">
				<img src="{{ asset('img/Contact/employe3.jpeg') }}" style="width:250px;" alt="Yamina & Brahim">
					<div class="text-center">
						<p id="employeeName3" class="text-center mt-3 fw-bold">Yamina & Brahim</p>
						<div class="text-center">
						<p id="employeeJob3">Photographe Pro</p>
						<div id="social-media3" class="mt-3">
							<a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
							<i class="fab fa-facebook-f team-social btn"></i>
							</a>
							<i class="fab fa-instagram team-social btn"></i>
						</div>
						</div>
						<p id="employeeQuote3" class="d-none">Citation Employée 3</p>
					</div>
				</div>
			</article>		

		</section>
	</section>




	<section>
		<div class="bloc-contact">
			<h1 class="fw-bolder text-center">Pour nous contacter c'est simple !</h1>
			<p class="text-center">Vous avez un projet d'éducation ou de valorisation par l'image et souhaitez en discutez, vous êtes au bon endroit !</p>
		</div>

		<div class="d-flex justify-content-center bloc-adress">
			<div class="bloc-adress_place">
				<h4 class="fw-bold text-decoration-underline">Adresse </h4>
				<p>15 route de Bagnols, 30100 Alès</p>
			</div>
			<div class="bloc-adress_phone">
				<h4 class="fw-bold text-decoration-underline">Numero
				</h4>
				<p>06 64 21 93 75
				</p>
			</div>

			<div class="bloc-adress_social">
				<h4 class="fw-bold text-decoration-underline">Social
				</h4>
				<div class="d-flex flex-row mt-2">
					<a href="https://www.facebook.com/MeltingPhot/?locale=fr_FR" class="me-4 text-reset">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
					<a href="https://twitter.com/melting_phot?lang=fr" class="me-4 text-reset">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
					<a href="https://www.instagram.com/meltingphot/?hl=fr" class="me-4 text-reset">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
					<a href="https://www.linkedin.com/company/meltingphot" class="me-4 text-reset">
						<i class="fab fa-linkedin fa-lg"></i>
					</a>
				</div>
			</div>
		</div>


		{{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
		<div class="contact-NES">
			{{ form_row(form.Nom, {'attr': {'class': 'shadow contact-input','placeholder': 'Nom'}}) }}
			<label for=""></label>

			{{ form_row(form.email, {'attr': {'class': 'shadow contact-input', 'placeholder': 'Email'}}) }}
			<label for=""></label>

			{{ form_row(form.Subject, {'attr': {'class': 'shadow contact-input','placeholder': 'Sujets'}}) }}
			<label for=""></label>
		</div>
		<div class="content-message">
			{{ form_row(form.Message, {'attr': {'class': 'shadow message contact-input', 'placeholder': 'Message'}}) }}
		</div>
		<div class="mt-5 d-flex justify-content-center flex-column align-items-center ">
			<h3 class="mb-2">Captcha à remplir</h3>
			{{ form_row(form.captcha) }}
		</div>

		<div class="d-flex justify-content-center">
			{{form_row(form.submit,{'attr': {'class': 'btn send-btn btn btn-outline-dark'
				}})}}
		</div>

		{{ form_label(form.piege, null, {'label_attr': {'style': 'display:none;'}}) }}

		{{ form_end(form) }}
		

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2863.7722805166513!2d4.101080076874332!3d44.12931897108358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b4425109d4d983%3A0x365da74f82b38f13!2s15%20Rte%20de%20Bagnols%2C%2030100%20Al%C3%A8s!5e0!3m2!1sfr!2sfr!4v1681739820341!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	</section>

{% endblock %}
