
	<header class="nav-main" style="background-color: #D00A4B;">
		<nav class="navbar navbar-expand-lg bg-body-tertiary bg-red" id="navbar-hover" >
			<div class="d-flex justy-content-center w-100">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
					<li class="nav-item me-2 meltingphot">
						<a class="nav-link" aria-current="page" href="/">MELTINGPHOT</a>
					</li>
					<li class="nav-item me-2">
						<a class="nav-link" href="{{ path("app_actions")}}">ACTIONS</a>
					</li>

					<li class="nav-item me-2">
						<a class="nav-link" href="{{path('app_contact')}}">CONTACT</a>
					</li>

					{% if not app.user %}
						<li class="nav-item me-2">
							<a class="nav-link" href="{{path('app_login')}}">
								<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
							</a>

						</li>
						<li class="nav-item me-2">
							<a class="nav-link" href="{{path('app_register')}}">S'INSCRIRE</a>
						</li>
					{% endif %}
					{% if app.user %}
						{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
							<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
						{% endif %}
					{% endif %}

					{% if app.user %}
						<li class="nav-item me-2">
							<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
						</li>
						<p class="text-end btn btn-warning mt-3">Bienvenue
							{{ app.user.username }}!</p>
					
					{% endif %}
				
						<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
						
						<form id="search-form" class="d-none">
							<div class="input-group">
								<input id="search-input" type="text" class="form-control" placeholder="Rechercher...">
								<button id="search-button" class="btn btn-primary" type="button">Rechercher</button>
						</form>


				</ul>
			</div>
		</nav>

		<nav class="navbar nav-phone navbar-dark">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

		</nav>
		<div class="shadow nav-phone navbarToggleExternalContent" data-bs-theme="dark">
			<div id="navbarToggleExternalContent" class="collapse p-4">
				<div class=" p-4">
					<ul class="navbar-nav nav-phone-content me-auto mb-2 mt-3 mb-lg-0 w-100 d-flex justify-content-center align-items-center">
						<li class="mt-5">
							<a href="/">
								<img class="logo me-2" id="logo-MeltingPhot" src="{{ asset('img/logo.png')}}" width alt=""></img>
							</a>
						</li>
		
						<li class="nav-item me-2 meltingphot">
							<a class="nav-link " aria-current="page" href="/">MELTINGPHOT</a>
						</li>
						<li class="nav-item me-2">
							<a class="nav-link" href="{{ path("app_actions")}}">Nos Actions</a>
						</li>
						<li class="nav-item me-2">
							<a class="nav-link" href="{{path('app_contact')}}">Nous Contacter</a>
						</li>

						{% if not app.user %}
							<li class="nav-item me-2">
								<a class="nav-link" href="{{path('app_login')}}">
									<i class="fa-solid fa-user hi-icon hi-icon-user"></i>
								</a>

							</li>
						{% endif %}
						{% if app.user %}
							{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
								<a class="nav-link" href="{{ path('admin_') }}">Ma Page Admin</a>
							{% endif %}
						{% endif %}

						{% if app.user %}
							<li class="nav-item me-2">
								<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
							</li>
						{% endif %}
						<i id="search-icon" class="fa-solid fa-magnifying-glass mx-3"></i>
						<form id="search-form" class="d-none">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Rechercher...">
								<button class="btn btn-primary" type="submit">Rechercher</button>
							</div>
						</form>
						{% if app.user %}
							<p class="text-end btn btn-warning mt-3">Bienvenue,{{ app.user.username }}!</p>
						{% endif %}

						{% if not app.user %}
							<li class="nav-item me-2">
								<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
							</li>
						{% endif %}
					<ul>
				</div>
			</div>
		</div>


	</header>

