{% set videosArr = videos|batch(6, null, false) %}
<div id="action-carousel-pc" class="carousel slide w-100" data-bs-interval="false">
	<!-- Boutons de contrôle du carrousel -->
	<ol class="carousel-indicators">
		{% for key, row in videosArr %}
			{% if row|length > 5 %}
				<li data-bs-target="#action-carousel-pc" data-bs-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
			{% endif %}
		{% endfor %}
	</ol>
	<div class="carousel-inner d-flex">
	{% for key, row in videosArr %}
		{% if row|length > 5 %}
			<div class="carousel-item {{ key == 0 ? 'active' }}">
				<div class="d-flex flex-row justify-content-center" style="margin: 0 auto; width: 95%;">
					<div class="groupe">
						<div class="h-100">
							{% if row[0].image is not null %}
								<img src="{{ asset('uploads/videos/images/' ~ row[0].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[0].id }}" data-video-id="{{ row[0].id }}">
							{% else  %}
								<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[0].id }}" data-video-id="{{ row[0].id }}" />
							{% endif %}
						</div>
					</div>
					<div class="video-group">
						<div class="group">
							<div class="h-100">
								{% if row[1].image is not null %}
									<img src="{{ asset('uploads/videos/images/' ~ row[1].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[1].id }}" data-video-id="{{ row[1].id }}" />
								{% else  %}
									<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[1].id }}" data-video-id="{{ row[1].id }}" />
								{% endif %}

							</div>
						</div>
						<div class="group">
							<div class="h-100">
								{% if row[2].image is not null %}
									<img src="{{ asset('uploads/videos/images/' ~ row[2].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[2].id }}" data-video-id="{{ row[2].id }}">
								{% else  %}
									<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[2].id }}" data-video-id="{{ row[2].id }}" />
								{% endif %}
							</div>
						</div>
					</div>
					<div class="video-group">
						<div class="group">
							<div class="h-100">
								{% if row[3].image is not null %}
									<img src="{{ asset('uploads/videos/images/' ~ row[3].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[3].id }}" data-video-id="{{ row[3].id }}">
								{% else  %}
									<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[3].id }}" data-video-id="{{ row[3].id }}" />
								{% endif %}
							</div>
						</div>
						<div class="group">
							<div class="h-100">
								{% if row[4].image is not null %}
									<img src="{{ asset('uploads/videos/images/' ~ row[4].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[4].id }}" data-video-id="{{ row[4].id }}">
								{% else  %}
									<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[4].id }}" data-video-id="{{ row[4].id }}" />
								{% endif %}
							</div>
						</div>
					</div>
					<div class="groupe">
						<div class="h-100">
							{% if row[5].image is not null %}
								<img src="{{ asset('uploads/videos/images/' ~ row[5].image) }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[5].id }}" data-video-id="{{ row[5].id }}">
							{% else  %}
								<img src="{{ asset('img/default_video_image.png') }}" class="h-100 first-video" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ row[5].id }}" data-video-id="{{ row[5].id }}" />
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			{% for video in row %}
				<div class="modal fade" id="videoModal{{ video.id }}" tabindex="-1" aria-labelledby="videoModal{{ video.id }}Label" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header bg-dark white-text">
								<h5 class="modal-title" id="videoModal{{ video.id }}Label">{{ video.title }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item w-100 modal-video lazy-video" data-src="{{ video.url }}?rel=0" allowfullscreen allow="autoplay"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endfor %}


		<!-- Rest of the carousel code -->
	</div>

	<!-- Indicateurs du carrousel -->
	<div class="carousel-pagination">
		<button class="carousel-control-prev carousel-fade" type="button" data-bs-target="#action-carousel-pc" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next carousel-fade" type="button" data-bs-target="#action-carousel-pc" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
