<div id="ebookCarousel-{{ carouselId }}" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    {% for ebook in ebooks %}
        <div class=" w-ful carousel-item {{ loop.index == 1 ? 'active' }}">
        <div>
          <a href="{{ path('app_flipbook', { 'id': ebook.id }) }}">
            <img style="width:300px; height:300px"src="{{ asset('uploads/ebook/apercu/' ~ ebook.imageApercu) }}" class="d-block img-ebook "alt="{{ ebook.title }}"/>
            <span>Voir le livre</span>
          </a>
        </div>
        
        </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#ebookCarousel-{{ carouselId }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#ebookCarousel-{{ carouselId }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>