{% extends 'base.html.twig' %}

{% block title %}Nos Actions!
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/component/navbar.js') }}"></script>
	<script src="{{ asset('js/lazy-video/lazy-video.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ asset('js/home/carousel-effect.js') }}"></script>
		

{% endblock %}

{% block body %}

	{% include 'component/navbar.html.twig' %}

	<section class="actions-bandeau w-100 bg-secondary-subtle h-400 d-flex flex-column justify-content-center align-items-center p-1">
		<article class="actions-bloc">
			<div class="container d-lg-flex flex-lg-row justify-content-lg-center align-items-lg-center">
				<div class="col-lg-4 actions-bloc-title">
					<h1>Nos Actions</h1>
					<div class="d-flex flex-row justify-content-around align-items-center actions-bandeau_sous-titre m-auto">
						<div class="actions-bandeau_trait"></div>
						<div>
							<span class="color-grey">MeltingPhot/</span>
							<span class="color1">Vidéos</span>
						</div>
					</div>
				</div>
				<p class="col-lg-8 mt-5 m-lg-0 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptate quidem ullam beatae vero excepturi fuga deserunt aperiam. Eius repudiandae laborum accusantium voluptatem illum odio impedit delectus expedita beatae laboriosam!</p>
			</div>
		</article>
	</section>

	<div class="d-flex flex-column align-items-center justify-content-center bloc-filtres carousel-container">
		<div class='pc-actions mt-5'>
			<div>
				<h2 for="my-dropdown" class="text-center fw-light">NOS
					<span class="fw-bold">ACTIONS
					</h2>
					<h2 class="text-center">D'EDUCATION
						<span class="text-center fw-light">PAR L'IMAGE</span>
					</h2>
				</div>
				<div class="d-flex flex-wrap align-items-center justify-content-center mb-3 ">
					{# quand je clique sur le filme mon futur metier affiche les videos correspondantes a cette categorie  #}
					<a href="{{ path('app_actions', {'category': 'Je_Filme_Mon_Futur_Métier'}) }}" class="btn col-6 col-sm-2 filter-tab" id="video-link">Je Filme mon futur métier</a>
					<a href="{{ path('app_actions', {'category':'Odonymes'}) }}" class="btn col-6 col-sm-2 filter-tab">Odonymes</a>
					<a href="{{ path('app_actions', {'category':'Les_Critiques_pétillantes'}) }}" class="btn col-6 col-sm-2 filter-tab">Les Critiques pétillantes</a>
					<a href="{{ path('app_actions', {'category':'Parole_Public'}) }}" class="btn col-6 col-sm-2 filter-tab">Parole Public</a>
					<a href="{{ path('app_actions', {'category':'Les_Vitrines_des_Cévènnes'}) }}" class="btn col-6 col-sm-2 filter-tab">Les Vitrines des Cévènnes</a>
				</div>


				<div id="carouselIndicators" class="carousel w-100" data-bs-interval="false">
					<div class="carousel-inner d-flex">
						{% if videos|length > 0 %}
							{% for i in range(0, (videos|length / 6 - 1)) %}
								<div class="carousel-item {% if i == 0 %}active{% endif %}">
									<div class="d-flex flex-row justify-content-center" style="margin: 0 auto; width: 95%;">
										{% for j in range(0, 5) %}
											{% set imageIndex = i * 6 + j %}
											{% if imageIndex < videos|length %}
												{% set video = videos[imageIndex] %}
												<!-- On assigne la vidéo correspondant à l'index 'imageIndex' à la variable 'video'. -->
												{% set isFirstVideo = j == 0 %}
												{% set isSecondVideo = j == 1 %}
												{% set isThirdVideo = j == 2 %}
												{% set isFourthVideo = j == 3 %}
												{% set isFifthVideo = j == 4 %}
												{% set isLastVideo = j == 5 %}
												<!-- On définit des variables booléennes pour indiquer la position de la vidéo actuelle dans l'itération. -->

												{% if isSecondVideo %}
													<!-- Si c'est la deuxième vidéo, on ouvre une nouvelle div avec la classe 'video-group'. -->
													<div class="video-group">
												{% endif %}

													{% if isFourthVideo %}
														<!-- Si c'est la quatrième vidéo, on ouvre une nouvelle div avec la classe 'video-group2'. -->
														<div class="video-group2">
														{% endif %}

															<div class="groupe ">
																<!-- On ouvre une div pour contenir chaque élément vidéo. -->
																<div class="h-100">
																	{% if video.Image %}
																			<!-- On vérifie si la vidéo possède une image associée. -->
																			{# <a href="{{ path('app_actions_video', {'id': video.id,'category': category}) }}"> #}
																		<img src="{{ asset('uploads/videos/images/' ~ video.image) }}" class="h-100 {% if isFirstVideo %}first-video{% elseif isLastVideo %}last-video{% endif %}" alt="Video Image" data-bs-toggle="modal" data-bs-target="#videoModal{{ imageIndex + 1 }}" data-video-id="{{ video.id }}"> </a>
																	{% else %}
																		<p>No image available</p>
																	{% endif %}

																	{% if isSecondVideo and isThirdVideo %}
																		<!-- Si c'est la deuxième et la troisième vidéo, on ouvre une nouvelle div avec la classe 'video-group' à l'intérieur de cette div. -->
																		<div class="video-group {% if isSecondVideo %}second-video{% elseif isThirdVideo %}third-video{% endif %}">
																	{% endif %}
																</div>
															</div>

														{% if isThirdVideo %}
															<!-- Si c'est la troisième vidéo, on ferme la div 'video-group'. -->
														</div>
													{% endif %}

													{% if isFifthVideo %}
														<!-- Si c'est la cinquième vidéo, on ferme la div 'video-group2'. -->
													</div>
												{% endif %}

											{% endif %}
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						{% else %}
							<!-- Handle the case when there are no videos -->
							<p>No videos available</p>
						{% endif %}

						<!-- Rest of the carousel code -->
					</div>

					<!-- Boutons de contrôle du carrousel -->
					<ol class="carousel-indicators">
						{% for i in 0..(videos|length / 6 - 1) %}
							<li data-bs-target="#carouselIndicators" data-bs-slide-to="{{ i }}" {% if i == 0 %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>

					<!-- Indicateurs du carrousel -->
					<div class="carousel-pagination">
						<button class="carousel-control-prev carousel-fade" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next carousel-fade" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>


				<div id="carouselIndicatorsMobile" class="carousel slide">
					<div class="carousel-inner">
						{% for i in 0..(videos|length - 1) %}
							{% set videoIndex = loop.index0 %}
							{% if videoIndex < videos|length %}
								<div class="carousel-item {% if i == 0 %}active{% endif %}" style="height: 400px;">
									<div class="d-flex w-100 justify-content-center">
										<div class="">
											{% set video = videos[videoIndex] %}
											{% if video.Image() %}
													<img class="carousel_img" style="margin:0 auto;" src="{{ asset('uploads/videos/images/' ~ video.image) }}" alt="Video Image">
												
											{% else %}
												<p>No image available</p>
											{% endif %}
											<div class="w-full d-flex justify-content-center ">
												<button type="button" class="btn btn-primary btn-{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#videoModal{{ videoIndex + 1 }}" data-video-id="{{ video.id }}" style="height:50px; margin-top:-6rem">
													<i class="bi bi-play-circle"></i>
													En voir plus +
												</button>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}


						<div class="carousel-indicators">
							{% for j in 0..(videos|length - 1) %}
								<button type="button" data-bs-target="#carouselIndicatorsMobile" data-bs-slide-to="{{ j }}" {% if j == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ j + 1 }}"></button>
							{% endfor %}
						</div>

						<button class="carousel-control-prev mobile-prev" type="button" data-bs-target="#carouselIndicatorsMobile" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>

						<button class="carousel-control-next mobile-next" type="button" data-bs-target="#carouselIndicatorsMobile" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>


				{% for video in videos %}
					<div class="modal fade" id="videoModal{{ loop.index }}" tabindex="-1" aria-labelledby="videoModal{{ loop.index }}
																			Label" aria-hidden="true">
						<div class="modal-dialog modal-lg modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header bg-dark white-text">
									<h5 class="modal-title" id="videoModal{{ loop.index }}Label">{{ video.title }}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item w-100 modal-video lazy-video" data-src="{{ video.url }}?rel=0" allowfullscreen allow="autoplay"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{# Pc-Tablette #}
	<section class="partenaire-pc d-flex align-items-center shadow-lg">
		<div class="w-50 Pc">
			<div class="w-full d-flex flex-wrap justify-content-left"style="margin-left:3rem">
				{% include 'actions/_ebook_carousel.html.twig' with { carouselId: 'pc'} %}
			</div>
		</div>


		<div class="w-50">
			<div class="partenaire-bloc">
				<h3 class="partenaire-title">
					<span class="fw-light">Nos</span>
					Magazines</h3>
				<p class="partenaire-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe magni vel cum dolores quasi veniam nisi, laboriosam distinctio, laborum voluptas dolor repellat quis consequatur nulla ad, qui ut vitae.</p>
				<button class="btn btn-outline-danger">Ouvrez en Un !</button>
			</div>
		</div>
	</section>


	{# Mobile  #}
	<section class="partenaire-tab d-flex flex-column">
		<div class="w-full d-flex ">
			<div class="d-flex flex-column align-items-center">
				<h3 class="partenaire-title">
					<span class="fw-light">Nos</span>
					Magazines</h3>
				<p class="partenaire-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe magni vel cum dolores quasi veniam nisi, laboriosam distinctio, laborum voluptas dolor repellat quis consequatur nulla ad, qui ut vitae.</p>
				<button class="btn btn-outline-danger">Ouvrez en Un !</button>
			</div>
		</div>
		<div class="w-full">
			<div class="w-full d-flex flex-wrap justify-content-left">
				{% include 'actions/_ebook_carousel.html.twig'  with { carouselId: 'mobile'}  %}
			</div>
		</div>
	</section>



	{# <div class="d-flex justify-content-center flex-wrap bloc-videos p-1" id="video-container"></div> #}
	{% include 'component/footer.html.twig' %}


{% endblock %}
