{% extends 'base.html.twig' %}

{% block title %}Nos Actions!
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/component/navbar.js') }}"></script>
	<script src="{{ asset('js/lazy-video/lazy-video.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ asset('js/home/carousel-effect.js') }}"></script>

{% endblock %}

{% block body %}

	<section class="actions-bandeau w-100 bg-secondary-subtle h-400 d-flex flex-column justify-content-center align-items-center p-1">
		<article class="actions-bloc">
			<div class="container d-lg-flex flex-lg-row justify-content-lg-center align-items-lg-center">
				<div class="col-lg-4 actions-bloc-title">
					<h1>Nos Actions</h1>
					<div class="d-flex flex-row justify-content-around align-items-center actions-bandeau_sous-titre m-auto">
						<div class="actions-bandeau_trait"></div>
						<div>
							<span class="color-grey">MeltingPhot/</span>
							<span class="color1">Vidéos</span>
						</div>
					</div>
				</div>
				<p class="col-lg-8 mt-5 m-lg-0 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptate quidem ullam beatae vero excepturi fuga deserunt aperiam. Eius repudiandae laborum accusantium voluptatem illum odio impedit delectus expedita beatae laboriosam!</p>
			</div>
		</article>
	</section>

	<div class="d-flex flex-column align-items-center justify-content-center bloc-filtres carousel-container mb-5">
		<div class='pc-actions'>
			<div>
				<h2 for="my-dropdown" class="text-center fw-light">NOS
					<span class="fw-bold">ACTIONS
				</h2>
				<h2 class="text-center">D'EDUCATION
					<span class="text-center fw-light">PAR L'IMAGE</span>
				</h2>
			</div>
			<div class="d-flex flex-wrap align-items-center justify-content-center mb-3 ">
				{# quand je clique sur le filme mon futur metier affiche les videos correspondantes a cette categorie  #}
				<a href="{{ path('app_actions', {'category': 'Je_Filme_Mon_Futur_Métier'}) }}" class="btn col-6 col-sm-2 filter-tab" id="video-link">Je Filme mon futur métier</a>
				<a href="{{ path('app_actions', {'category':'Odonymes'}) }}" class="btn col-6 col-sm-2 filter-tab">Odonymes</a>
				<a href="{{ path('app_actions', {'category':'Les_Critiques_pétillantes'}) }}" class="btn col-6 col-sm-2 filter-tab">Les Critiques pétillantes</a>
				<a href="{{ path('app_actions', {'category':'Parole_Public'}) }}" class="btn col-6 col-sm-2 filter-tab">Parole Public</a>
				<a href="{{ path('app_actions', {'category':'Les_Vitrines_des_Cévènnes'}) }}" class="btn col-6 col-sm-2 filter-tab">Les Vitrines des Cévènnes</a>
			</div>
				{% include "actions/_action_carousel_pc.html.twig" %}



{% if video %}
	<a href="{{ path('app_actions', {'id': video.id}) }}">
    <!-- On vérifie si la vidéo possède une image associée. -->
		{# <img class="d-none h-100" src="{{ asset(video.getImage()) }}"
				alt="Video Image"  
				data-video-url="{{ video.url }}"
				data-bs-toggle="modal" 
				data-bs-target="#videoModal{{ video.id }}" 
				data-video-title="{{ video.title }}"
				data-video-id="{{ video.id }}"> #}
	</a>

{% else %}
    <p>No image available</p>
{% endif %}

<div class="modal fade" id="videoModal4" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true"> 
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark white-text">
                <h5 class="modal-title" id="videoModalLabel">{{ video.title }}</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>
            <div class="modal-body">
                <!-- Add the video player here using the video information -->
                <div class="embed-responsive embed-responsive-16by9 h-100">
                    <iframe class="embed-responsive-item h-100" src="{{ video.url }}" allowfullscreen style="width: 100%; height: 100%;"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // Fonction pour ouvrir le modal automatiquement avec l'ID de la vidéo
    function openVideoModal(videoId) {
        const modalId = `#videoModal4`;
        const modalElement = document.querySelector(modalId);
        const bootstrapModal = new bootstrap.Modal(modalElement);
        bootstrapModal.show();
    }
    // Appeler la fonction avec l'ID de la vidéo passée en contexte
    document.addEventListener('DOMContentLoaded', function() {
            
            openVideoModal({{ video.id }});
    });
</script>

			{% include "actions/_action_carousel_mobile.html.twig" %}


			{% for videoAction in videos %}
				<div class="modal fade" id="videoModal{{ loop.index }}" tabindex="-1" aria-labelledby="videoModal{{ loop.index }} Label" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header bg-dark white-text">
								<h5 class="modal-title" id="videoModal{{ loop.index }}Label">{{ videoAction.title }}</h5>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
							</div>
							<div class="modal-body">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item w-100 modal-video lazy-video" data-src="{{ videoAction.url }}?rel=0" allowfullscreen allow="autoplay"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<section class="partenaire-pc d-flex align-items-center shadow-lg">
			<div class="w-50 Pc">
				<div class="w-full d-flex flex-wrap justify-content-left">
					<a href="/flipbook/hebemag" style="width:255Px"  class="btn">
						<img style="margin-left:2rem; margin-top:1rem" src="{{ asset('img/flipbook1/pics/Magazine-HébéMag.jpeg') }}" alt="">
					</a>
				</div>

			</div>


			<div class="w-50">
				<div class="partenaire-bloc">
					<h3 class="partenaire-title">
						<span class="fw-light">Nos</span>
						Magazines</h3>
					<p class="partenaire-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe magni vel cum dolores quasi veniam nisi, laboriosam distinctio, laborum voluptas dolor repellat quis consequatur nulla ad, qui ut vitae.</p>
					<button class="btn btn-outline-danger">Ouvrez en Un !</button>
				</div>
			</div>
		</section>

		<section class="partenaire-tab d-flex flex-column">
			<div class="w-full d-flex ">
				<div class="d-flex flex-column align-items-center">
					<h3 class="partenaire-title">
						<span class="fw-light">Nos</span>
						Magazines</h3>
					<p class="partenaire-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe magni vel cum dolores quasi veniam nisi, laboriosam distinctio, laborum voluptas dolor repellat quis consequatur nulla ad, qui ut vitae.</p>
					<button class="btn btn-outline-danger">Ouvrez en Un !</button>
				</div>
			</div>
			<div class="w-full">
				<div class="w-full d-flex flex-wrap justify-content-left">
					<a href="/flipbook/hebemag"style="width:150px">
						<img style="margin-left:2rem; margin-top:1rem" src="{{ asset('img/flipbook1/pics/Magazine-HébéMag.jpeg') }}" alt="">
					</a>
				</div>

			</div>
		</section>

{% endblock %}