{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>ebook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ebook.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ebook.author }}</td>
            </tr>
            <tr>
                <th>fichier</th>
                <td>{{ ebook.title }}</td>
            </tr>
             <tr>
                <th>Path</th>
                <td>{{ ebook.description }}</td>
            </tr>
            <tr>
                <th>fichier</th>
                <td>{{ ebook.file}}</td>
            </tr>
        </tbody>
    </table>


   
{% endblock %}
